body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  margin-top: 5px;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin: 0 0 4px;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
}

footer {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

a {
  line-height: 24px;
}

.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 60px auto;
  max-width: 600px;
  padding: 30px;
}

.city {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 25px 5px;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.8;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
}
